

 <div class="card">

<div class="card-header">

 {{PageTitle +'  : ' }}

</div>
<div class="card-body">
Name : {{CrrentButton.name}}
<br>
Order : {{CrrentButton.order}}
<br>
<br>
<div style="border:1px solid black; padding: 10px" *ngIf='CrrentButton.Activities.length'>
Activities List : 
<br>
<br>
<div class='table-responsive'>
    <table class='table'
           >
      <thead>
        <tr>
      
          <th>information Message</th>
          <th>Type</th>
          <th></th>
     

          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of CrrentButton.Activities'>
      
          <td> {{product.informationMessage}} </td>
          <td> {{product.Type}} </td>
          <td> <a [routerLink]="['/ActivityDetails',product.ID,CrrentButton.ID]" >Details </a> 
            <a  [routerLink]="['/AddButton']" (click)="onEditActivity(product.ID)" > Edit</a>
            <a (click)="onDeleteActivity(product.ID)" [routerLink]="['/AddButton']"> Delete</a>
            </td>
         
        </tr>
      </tbody>
    </table>
    <div id="Edit" class="card" *ngIf="showEditForm">
      <div class="card-header">
        Edit Activity

      </div>
      <div class='card-body'>
          <div class="form-group mx-sm-3 mb-2">
              <label for="exampleInputEmail1">Type : </label>
    
              <select class="form-control dropdown" [(ngModel)]='Type'>
                <option value="Print ticket type">Print ticket type</option>
                <option value="Request identification">Request identification</option>
                <option value="Confirmation activity">Confirmation activity</option>
    
              </select>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="exampleInputPassword1">Information message : </label>
              <input [(ngModel)]="Information_message" class="form-control" id="exampleInputPassword1">
            </div>
            
    </div>
    <div class="card-footer">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="btn btn-outline-secondary" style="float:right; margin: 10px;" (click)=" onEndofEditActivity()">
              Save


            </button>
            <button class="btn btn-outline-secondary" style="float:right; margin: 10px;" (click)="onCanceleditActivity()">
              Cancel


            </button>

          </div>
        </div>

      </div>


      
    </div>
  </div>

</div></div>
<div class="card-footer">
<button class="btn btn-outline-secondary" (click)="onBack()" >
  <i class="fa fa-chevron-left"></i>
  Back


</button>


</div>


 </div>


