<div class="card">

  <div class="card-header">

    {{PageTitle +'  : ' }}

  </div>









  <div class="card-body">

    <div class="form-group mx-sm-3 mb-2">
      <label for="exampleInputEmail1">Name : </label>
      <input type="email" [(ngModel)]='name' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  >

    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="exampleInputPassword1">Order : </label>
      <input type="number" [(ngModel)]='order' class="form-control" id="exampleInputPassword1"><label style="color: red"> {{isOrderValid}} </label>
    </div>

    <br>


    <div class="form-group mx-sm-3 mb-2">
      <button class="btn btn-outline-secondary" (click)="onAddActivity()" *ngIf='!this.showAddActivityForm' >
        Add Activity


      </button>

    </div>

    <div class="card" *ngIf="showAddActivityForm">

      <div class="card-header">

        Add Activity :

      </div>









      <div class="card-body">

        <div class="form-group mx-sm-3 mb-2">
          <label for="exampleInputEmail1">Type : </label>

          <select class="form-control dropdown" [(ngModel)]='Type'>
            <option value="Print ticket type">Print ticket type</option>
            <option value="Request identification">Request identification</option>
            <option value="Confirmation activity">Confirmation activity</option>

          </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="exampleInputPassword1">Information message : </label>
          <input [(ngModel)]="Information_message" class="form-control" id="exampleInputPassword1">
        </div>



      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="btn btn-outline-secondary" style="float:right; margin: 10px;" (click)="onsaveActivity()">
              Add


            </button>
            <button class="btn btn-outline-secondary" style="float:right; margin: 10px;" (click)=" onCancelOfAddActivity()">
              Cancel


            </button>

          </div>
        </div>

      </div>


    </div>

    <br>

    <div id="divdiv" class='table-responsive' style="border:1px solid black; padding: 10px" *ngIf='Activities.length'>
      <h6>Activities Added : </h6>
      <br>
      <table class='table' *ngIf='Activities.length'>

        <thead>
          <tr>

            <th>Information Message </th>
            <th>Type </th>
            <th> </th>



          </tr>

        </thead>
        <tbody>
          <tr *ngFor='let product of Activities'>

            <td> {{product.informationMessage}} </td>
            <td> {{product.Type}} </td>

            <td> <a (click)="onDeletActivity(product.ID)" [routerLink]="['/EditButton']" >Delete </a>
              <a  [routerLink]="['/ActivityDetails']" (click)=" onEditActivity(product.ID)"> Edit</a>
            </td>

          </tr>
         
        
        </tbody>
      </table>
      <div id="Edit" class="card" *ngIf="showEditActivityFrom">
        <div class="card-header">
          Edit Activity

        </div>
        <div class='card-body'>
            <div class="form-group mx-sm-3 mb-2">
                <label for="exampleInputEmail1">Type : </label>
      
                <select class="form-control dropdown" [(ngModel)]='TypeofeditingActivity'>
                  <option value="Print ticket type">Print ticket type</option>
                  <option value="Request identification">Request identification</option>
                  <option value="Confirmation activity">Confirmation activity</option>
      
                </select>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="exampleInputPassword1">Information message : </label>
                <input [(ngModel)]="Information_message_ofEditingActivity" class="form-control" id="exampleInputPassword1">
              </div>
              
      </div>
      <div class="card-footer">
          <div class="row">
            <div class="col-md-4">
  
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button class="btn btn-outline-secondary" style="float:right; margin: 10px;" (click)="onsaveEditedActivity()">
                Save
  
  
              </button>
              <button class="btn btn-outline-secondary" style="float:right; margin: 10px;" (click)="onCancelEditActivity()">
                Cancel
  
  
              </button>
  
            </div>
          </div>
  
        </div>


        
      </div>
    </div>















  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary" (click)="onBack()" >
          <i class="fa fa-chevron-left"></i>
          Back
        
        
        </button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-outline-secondary" style="float:right" (click)="onCreate()">
             {{ButtonText}}


        </button>
      </div>
    </div>

  </div>


</div>